body {
  background-color: white;
}

.items {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.icontop {
  width: 40px;
  height: 40px;
}


.iconimg {
  width: 80px;
  height: 80px;
  margin-left: 100px;
  margin-top: 50px;
  padding-bottom: 20px;

}

h1 {
  margin-left: 100px;
  color: gray;
}

p {
  margin-left: 100px;
  color: gray;
  letter-spacing: 3px;
}

figcaption {
  text-align: center;
  color: gray;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {

  .iconimg {
    display: none;
  }

  .items {
    display: flex;
    flex-direction: column;
  }