.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #ffffff;
}




.col-25 {
    -ms-flex: 25%;


    flex: 25%;
}

.col-50 {
    -ms-flex: 50%;

    flex: 50%;
}

.col-75 {
    -ms-flex: 75%;

    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;

    border: 1px solid rgb(255, 255, 255);

}

.icontop {
    width: 40px;
    height: 40px;
}

.iconimg {
    width: 80px;
    height: 80px;
    margin-left: 100px;
    margin-top: 50px;
    padding-bottom: 20px;
}

h1 {
    margin-left: 100px;
    color: gray;
}

p {
    margin-left: 100px;
    color: gray;
    letter-spacing: 5px;
}

.bottombutton {
    padding-left: 520px;
    color: #4c7738;
}

input[type=text] {
    width: 20%;
    margin-bottom: 20px;
    padding: 12px;
    border: 0.5px solid rgb(226, 226, 226);
    border-radius: 25px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}



span.price {
    float: right;
    color: grey;
}




@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    .col-25 {
        margin-bottom: 20em;
    }

    .container {
        display: none;
    }
  