@charset "UTF-8";

nav {
    background-color: grey;
    padding: 25px;
    margin-top: 50px;
}
nav a {
    color: #BDC09D;
    text-decoration: none;
    font-size: 20px;
   

}

button {
    background-color: #808080; 
    border: none;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 50px;
    margin-left: 100px;
    margin-top: 45px;
    margin-bottom: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
form{
    margin-left: 100px;
   
}
h2 {
    margin-left: 100px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}
body {
    font-family: Arial, Helvetica, sans-serif ;
}

ul {
    display: flex;
    flex-direction: row;


}
li {
    float: left;
    display: block;
    color: rgb(189, 192, 157);
    text-align: center;
    padding-right: 5%;
    font-size: 28px;
   
    
}

#note {
    padding-bottom: 280px;
    margin-bottom: 30px;
}
#name {
    margin-bottom: 30px;
}
#phone {
    margin-bottom: 30px;
}

footer{
    background-color: #808080;
    display: flex;
    justify-content: space-between;
  
  
}

.info {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 50px;
}
#address {
    padding-right: 23%;
}
#phoneemail {
    padding-right: 23%;
}

p {
    text-align: center;
}

#footlinks {
    display: flex;
    flex-direction: column;
    float: left;
 
}


#footlinks li {
    text-align: left;
    margin-left: 40px;
    font-size: 20px;
    margin-top: 10px;
}


@media screen and (max-width: 641px) {


footer{

display:none
}

.info {
    display:none
   }

   #note{
    width:70%
}
    #name {
width: 70%;
    }
#phone {
    width: 70%;
}
#email {
    width: 70%;
}
 
ul {
    display: flex;
    flex-direction: column;
}
}