div {
    width: 300px;
    height: 160px;
    padding: 50px;
    margin: 250px;
    background-color: #808080;
    
  }

  h5 {
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
      color: #ffffff;
     text-align: center;
     margin-top: 5px;
     letter-spacing: 11px;
     
    
  }
  p {
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
      color: #ffffff;
      text-align: center;
      margin-top: 35px;
      
      
  }

  button {
    background-color: #5a5a5a; 
    border: none;
    color: white;
    padding: 12px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 30px;
    border-radius: 15px;

    
  }

  