body {
background-color: rgb(37, 41, 28);
}

nav {
    padding-top: 25px;
    padding-bottom: 10px;

}

ul {
    background-color: #000000;
    list-style-type: none;
    margin: 0;
    padding: 20;
    overflow: hidden;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(160, 151, 66);
    text-align: center;
    padding: 30px 70px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  body, html {
    height: 100%;
}

.hero-image {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
  
    height: 50%;
  
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  
